/* 
    1. Editar playlist
    2. Marcar like en Album desde un artista
    3. Marcar likes en Tracks
*/
:root{
    --white: white;
    --dark: #051023;
    --darker: #020c1f;
    --gray: #e8e8e8;
    --green: #1DB954;
    --green_neon: #12ffb9;
    --blue: #0066ff;
    --blue-light: #213450;
    --blue-dark: #09162d;
    --blue-darker: #061227;
    --red: #ff073b;
}

/* #region Colors  */
    .color-white{
        color: var(--white);
    }
    .color-dark{
        color: var(--dark);
    }
    .color-darker{
        color: var(--darker);
    }
    .color-gray{
        color: var(--gray);
    }
    .color-green{
        color: var(--green);
    }
    .color-green-neon{
        color: var(--green_neon);
    }
    .color-blue{
        color: var(--blue);
    }
    .color-blue-light{
        color: var(--blue-light);
    }
    .color-blue-darker{
        color: var(--blue-darker);
    }
    .color-red{
        color: var(--red);
    }
/* #endregion Colors  */

/* #region BgColors  */
    .bg-white{
        background-color: var(--white);;
    }
    .bg-gray{
        background-color: var(--gray);
    }
    .bg-dark{
        background-color: var(--dark);
    }
    .bg-darker{
        background-color: var(--darker);
    }
    .bg-green{
        background-color: var(--green);
    }
    .bg-green-neon{
        background-color: var(--green_neon);
    }
    .bg-blue{
        background-color: var(--blue);
    }
    .bg-blue-light{
        background-color: var(--blue-light);
    }
    .bg-blue-dark{
        background-color: var(--blue-dark);
    }
    .bg-blue-darker{
        background-color: var(--blue-darker);
    }
    .bg-red{
        background-color: var(--red);
    }
    .bg-transparent{
        background-color: transparent;
    }
/* #endregion BgColors  */

/* #region Font Size */
    .font-0{
        font-size: 0;
    }
    .font-10{
        font-size: 10px;
    }
    .font-12{
        font-size: 12px;
    }
    .font-13{
        font-size: 13px;
    }
    .font-14{
        font-size: 14px;
    }
    .font-16{
        font-size: 16px;
    }
    .font-18{
        font-size: 18px;
    }
    .font-20{
        font-size: 20px;
    }
    .font-22{
        font-size: 22px;
    }
    .font-24{
        font-size: 24px;
    }
    .font-26{
        font-size: 26px;
    }
    .font-28{
        font-size: 28px;
    }
    .font-30{
        font-size: 30px;
    }
    .font-32{
        font-size: 32px;
    }
    .font-100{
        font-size: 100px;
    }
/* #endregion Font Size */

/* #region Font Weight */
    .font-weight-100{
        font-weight: 100;
    }
    .font-weight-200{
        font-weight: 200;
    }
    .font-weight-300{
        font-weight: 300;
    }
    .font-weight-400{
        font-weight: 400;
    }
    .font-weight-500{
        font-weight: 500;
    }
    .font-weight-600{
        font-weight: 600;
    }
    .font-weight-700{
        font-weight: 700;
    }
    .font-weight-800{
        font-weight: 800;
    }
/* #endregion Font Weight */

/* #region Letter Spacing */
    .spacing-1{
        letter-spacing: 1px;
    }
    .spacing-2{
        letter-spacing: 2px;
    }
    .spacing-3{
        letter-spacing: 3px;
    }
/* #endregion Letter Spacing */

/* #region Line height */
    .lh-1{
        line-height: 1;
    }
    .lh-11{
        line-height: 1.1;
    }
    .lh-12{
        line-height: 1.2;
    }
    .lh-13{
        line-height: 1.3;
    }
    .lh-14{
        line-height: 1.4;
    }
    .lh-15{
        line-height: 1.5;
    }
    .lh-16{
        line-height: 1.6;
    }
    .lh-17{
        line-height: 1.7;
    }
    .lh-2{
        line-height: 2;
    }

/* #endregion Line height */

/* #region Margins */
    .m-auto{
        margin: auto;
    }
    .m-0-auto{
        margin: 0 auto;
    }
    .m-initial{
        margin: initial;
    }

    .m-0{
        margin: 0;
    }
    .m-5{
        margin: 5px;
    }
    .m-10{
        margin: 10px;
    }
    .m-20{
        margin: 20px;
    }
    .m-30{
        margin: 30px;
    }
    .m-40{
        margin: 40px;
    }
    .m-50{
        margin: 50px;
    }
    .m-60{
        margin: 60px;
    }

    .mt-0{
        margin-top: 0;
    }
    .mt-5{
        margin-top: 5px;
    }
    .mt-10{
        margin-top: 10px;
    }
    .mt-15{
        margin-top: 15px;
    }
    .mt-20{
        margin-top: 20px;
    }
    .mt-30{
        margin-top: 30px;
    }
    .mt-40{
        margin-top: 40px;
    }
    .mt-50{
        margin-top: 50px;
    }
    .mt-60{
        margin-top: 60px;
    }
    .mt-70{
        margin-top: 70px;
    }
    .mt-80{
        margin-top: 80px;
    }
    .mt-90{
        margin-top: 90px;
    }
    .mt-100{
        margin-top: 100px;
    }

    .mr-0{
        margin-right: 0;
    }
    .mr-5{
        margin-right: 5px;
    }
    .mr-10{
        margin-right: 10px;
    }
    .mr-20{
        margin-right: 20px;
    }
    .mr-30{
        margin-right: 30px;
    }
    .mr-40{
        margin-right: 40px;
    }
    .mr-50{
        margin-right: 50px;
    }
    .mr-60{
        margin-right: 60px;
    }

    .mb-0{
        margin-bottom: 0;
    }
    .mb-5{
        margin-bottom: 5px;
    }
    .mb-10{
        margin-bottom: 10px;
    }
    .mb-15{
        margin-bottom: 15px;
    }
    .mb-20{
        margin-bottom: 20px;
    }
    .mb-25{
        margin-bottom: 25px;
    }
    .mb-30{
        margin-bottom: 30px;
    }
    .mb-40{
        margin-bottom: 40px;
    }
    .mb-50{
        margin-bottom: 50px;
    }
    .mb-60{
        margin-bottom: 60px;
    }
    .mb-70{
        margin-bottom: 70px;
    }
    .mb-80{
        margin-bottom: 80px;
    }
    .mb-90{
        margin-bottom: 90px;
    }
    .mb-100{
        margin-bottom: 100px;
    }

    .ml-0{
        margin-left: 0;
    }
    .ml-5{
        margin-left: 5px;
    }
    .ml-10{
        margin-left: 10px;
    }
    .ml-20{
        margin-left: 20px;
    }
    .ml-30{
        margin-left: 30px;
    }
    .ml-40{
        margin-left: 40px;
    }
    .ml-50{
        margin-left: 50px;
    }
    .ml-60{
        margin-left: 60px;
    }
/* #endregion Margins */

/* #region Paddings */
    .p-0{
        padding: 0;
    }
    .p-5{
        padding: 5px;
    }
    .p-7{
        padding: 7px;
    }
    .p-8{
        padding: 8px;
    }
    .p-10{
        padding: 10px;
    }
    .p-20{
        padding: 20px;
    }
    .p-30{
        padding: 30px;
    }
    .p-40{
        padding: 40px;
    }
    .p-50{
        padding: 50px;
    }
    .p-60{
        padding: 60px;
    }
    .p-70{
        padding: 70px;
    }
    .p-80{
        padding: 80px;
    }
    .p-90{
        padding: 90px;
    }
    .p-100{
        padding: 100px;
    }
    .pt-0{
        padding-top: 0;
    }
    .pt-5{
        padding-top: 5px;
    }
    .pt-10{
        padding-top: 10px;
    }
    .pt-15{
        padding-top: 15px;
    }
    .pt-20{
        padding-top: 20px;
    }
    .pt-30{
        padding-top: 30px;
    }
    .pt-40{
        padding-top: 40px;
    }
    .pt-50{
        padding-top: 50px;
    }
    .pt-60{
        padding-top: 60px;
    }
    .pt-80{
        padding-top: 80px;
    }
    .pt-90{
        padding-top: 90px;
    }
    .pt-100{
        padding-top: 100px;
    }
    .pt-110{
        padding-top: 110px;
    }

    .pr-0{
        padding-right: 0;
    }
    .pr-5{
        padding-right: 5px;
    }
    .pr-10{
        padding-right: 10px;
    }
    .pr-15{
        padding-right: 15px;
    }
    .pr-20{
        padding-right: 20px;
    }
    .pr-25{
        padding-right: 25px;
    }
    .pr-30{
        padding-right: 30px;
    }
    .pr-40{
        padding-right: 40px;
    }
    .pr-50{
        padding-right: 50px;
    }
    .pr-60{
        padding-right: 60px;
    }
    .pr-70{
        padding-right: 70px;
    }
    .pr-80{
        padding-right: 80px;
    }
    .pr-90{
        padding-right: 90px;
    }
    .pr-100{
        padding-right: 100px;
    }

    .pb-0{
        padding-bottom: 0;
    }
    .pb-0{
        padding-bottom: 5px;
    }
    .pb-10{
        padding-bottom: 10px;
    }
    .pb-15{
        padding-bottom: 15px;
    }
    .pb-20{
        padding-bottom: 20px;
    }
    .pb-30{
        padding-bottom: 30px;
    }
    .pb-40{
        padding-bottom: 40px;
    }
    .pb-50{
        padding-bottom: 50px;
    }
    .pb-60{
        padding-bottom: 60px;
    }
    .pb-70{
        padding-bottom: 70px;
    }
    .pb-80{
        padding-bottom: 80px;
    }
    .pb-90{
        padding-bottom: 90px;
    }
    .pb-100{
        padding-bottom: 100px;
    }
    .pb-120{
        padding-bottom: 120px;
    }
    .pb-170{
        padding-bottom: 170px;
    }

    .pl-0{
        padding-left: 0 !important;
    }
    .pl-5{
        padding-left: 5px;
    }
    .pl-10{
        padding-left: 10px;
    }
    .pl-20{
        padding-left: 20px;
    }
    .pl-25{
        padding-left: 25px;
    }
    .pl-30{
        padding-left: 30px;
    }
    .pl-40{
        padding-left: 40px;
    }
    .pl-45{
        padding-left: 45px;
    }
    .pl-50{
        padding-left: 50px;
    }
    .pl-60{
        padding-left: 60px;
    }
    .pl-70{
        padding-left: 70px;
    }
    .pl-80{
        padding-left: 80px;
    }
    .pl-90{
        padding-left: 90px;
    }
    .pl-100{
        padding-left: 100px;
    }
/* #endregion Paddings */

/* #region Width */
    .w-10{
        width: 10%;
    }
    .w-15{
        width: 15%;
    }
    .w-18{
        width: 18%;
    }
    .w-20{
        width: 20%;
    }
    .w-30{
        width: 30%;
    }
    .w-33{
        width: 32%;
    }
    .w-40{
        width: 40%;
    }
    .w-50{
        width: 50%;
    }
    .w-60{
        width: 60%;
    }
    .w-70{
        width: 70%;
    }
    .w-80{
        width: 80%;
    }
    .w-100{
        width: 100%;
    }

    .w-2-p{
        width: 2px;
    }
    .w-5-p{
        width: 5px;
    }
    .w-10-p{
        width: 10px;
    }
    .w-20-p{
        width: 20px;
    }
    .w-30-p{
        width: 30px;
    }
    .w-33-p{
        width: 32px;
    }
    .w-40-p{
        width: 40px;
    }
    .w-50-p{
        width: 50px;
    }
    .w-60-p{
        width: 60px;
    }
    .w-70-p{
        width: 70px;
    }
    .w-80-p{
        width: 80px;
    }
    .w-100-p{
        width: 100px;
    }
    .w-120-p{
        width: 120px;
    }
    .w-150-p{
        width: 150px;
    }
    .w-160-p{
        width: 160px;
    }
    .w-170-p{
        width: 170px;
    }
    .w-180-p{
        width: 180px;
    }
    .w-200-p{
        width: 200px;
    }
    .w-300-p{
        width: 300px;
    }
    .w-400-p{
        width: 400px;
    }


    .w-auto{
        width: auto;
    }
    .min-w-50{
        min-width: 50px;
    }
    .min-w-60{
        min-width: 60px;
    }
    .min-w-70{
        min-width: 70px;
    }
    .min-w-80{
        min-width: 80px;
    }
    .min-w-90{
        min-width: 90px;
    }
    .min-w-300{
        width: 100%;
        min-width: 300px;
    }
    .min-w-680{
        width: 100%;
        min-width: 680px;
    }

    .max-w-50{
        width: 100%;
        max-width: 50px;
    }
    .max-w-70{
        width: 100%;
        max-width: 70px;
    }
    .max-w-80{
        width: 100%;
        max-width: 80px;
    }
    .max-w-100{
        width: 100%;
        max-width: 100px;
    }
    .max-w-200{
        width: 100%;
        max-width: 200px;
    }
    .max-w-300{
        width: 100%;
        max-width: 300px;
    }
    .max-w-480{
        width: 100%;
        max-width: 480px;
    }
    .max-w-680{
        width: 100%;
        max-width: 680px;
    }
/* #endregion Width */

/* #region Height */
    .h-10{
        height: 10%;
    }
    .h-20{
        height: 20%;
    }
    .h-30{
        height: 30%;
    }
    .h-40{
        height: 40%;
    }
    .h-50{
        height: 50%;
    }
    .h-100{
        height: 100%;
    }

    .h-1-p{
        height: 1px;
    }
    .h-2-p{
        height: 2px;
    }
    .h-5-p{
        height: 5px;
    }
    .h-10-p{
        height: 10px;
    }
    .h-20-p{
        height: 20px;
    }
    .h-30-p{
        height: 30px;
    }
    .h-40-p{
        height: 40px;
    }
    .h-50-p{
        height: 50px;
    }
    .h-60-p{
        height: 60px;
    }
    .h-70-p{
        height: 70px;
    }
    .h-80-p{
        height: 80px;
    }
    .h-90-p{
        height: 90px;
    }
    .h-100-p{
        height: 100px;
    }
    .h-200-p{
        height: 200px;
    }
    .h-300-p{
        height: 300px;
    }
    .h-400-p{
        height: 400px;
    }


    .h-auto{
        height: auto;
    }

    .max-height-300{
        max-height: 300px;
    }
    .max-height-400{
        max-height: 400px;
    }
    .max-h-480{
        max-height: 480px;
    }
/* #endregion Height */

/* #region Positions */
    .relative{
        position: relative;
    }
    .absolute{
        position: absolute;
    }
    .fixed{
        position: fixed !important;
    }
    .absolute-h-center{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .absolute-v-center{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .transform-v-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Left */
        .pos-left{
            left: 0;
            right: auto;
        }
        .left-10{
            left: 10%;
        }
        .left-20{
            left: 20%;
        }
        .left-30{
            left: 30%;
        }
        .left-40{
            left: 40%;
        }
        .left-50{
            left: 50%;
        }
    /* .Left */
    
    /* Right */
        .pos-right{
            left: auto;
            right: 0;
        }
        .right-10{
            right: 10%;
        }
        .right-20{
            right: 20%;
        }
        .right-30{
            right: 30%;
        }
        .right-40{
            right: 40%;
        }
        .right-50{
            right: 50%;
        }
    /*. Right */
    
    /* Top */
        .pos-top{
            top: 0;
            bottom: auto;
        }
        .top-10{
            top: 10%;
        }
        .top-20{
            top: 20%;
        }
        .top-30{
            top: 30%;
        }
        .top-40{
            top: 40%;
        }
        .top-50{
            top: 50%;
        }
    /* .Top */

    /* Bottom */
        .pos-bottom{
            top: auto;
            bottom: 0;
        }
        .bottom-10{
            bottom: 10%;
        }
        .bottom-20{
            bottom: 20%;
        }
        .bottom-30{
            bottom: 30%;
        }
        .bottom-40{
            bottom: 40%;
        }
        .bottom-50{
            bottom: 50%;
        }
    /* .Bottom */
/* #endregion Positions */

/* #region Z-Index */
    .z-index-1{
        z-index: 1;
    }
    .z-index-2{
        z-index: 2;
    }
    .z-index-3{
        z-index: 3;
    }
    .z-index-999{
        z-index: 9;
    }
    .z-index-initial{
        z-index: initial;
    }
/* #endregion Z-Index */

/* #region FoldTitle */
    .fold-title.left-bg{
        background-position: 0 0;
    }
    .fold-title.fold-title--no-bg{
        background: none;
        padding: 0;
    }
/* #endregion Foldtitle */

/* #region Displays */
    .d-block{
        display: block;
    }
    .d-flex{
        display: flex;
    }
    .d-flex-inline{
        display: inline-flex;
    }
    .d-inline{
        display: inline;
    }
    .d-inline-block{
        display: inline-block;
        vertical-align: top;
    }
    .d-none{
        display: none;
    }

    .vertical-top{
        vertical-align: top;
    }
    .vertical-middle{
        vertical-align: middle;
    }
/* #endregion Displays */

/* #region Flex */
    .flex-row {
        flex-direction: row;
    }

    .flex-row-reverse {
        flex-direction: row-reverse;
    }

    .flex-column {
        flex-direction: column;
    }

    .flex-column-reverse {
        flex-direction: column-reverse;
    }

    .flex-self-start {
        align-self: flex-start;
    }

    .flex-start {
        justify-content: flex-start;
        text-align: start;
    }

    .flex-center {
        justify-content: center;
    }

    .flex-evenly {
        justify-content: space-evenly;
    }

    .flex-around {
        justify-content: space-around;
    }

    .flex-end {
        justify-content: flex-end;
    }

    .flex-top {
        align-items: top;
    }

    .flex-middle {
        align-items: center;
    }

    .flex-bottom {
        align-items: flex-end;
    }

    .flex-around {
        justify-content: space-around;
    }

    .flex-between {
        justify-content: space-between;
    }

    .flex-wrap{
        flex-wrap: wrap;
    }

    .flex-1 {
        flex: 1;
    }
/* #endregion Flex */

/* #region Floats */
    .f-left{
        float: left;
    }
    .f-right{
        float: right;
    }
    .f-none{
        float: none;
    }
/* #endregion Floats */

/* #region Rounded & Circled */
    .rounded{
        border-radius: 4px;
    }
    .circled{
        border-radius: 50%;
    }
/* #endregion Rounded & Circled */

/* #region Text Aligns */
    .align-left{
        text-align: left;
    }
    .align-right{
        text-align: right;
    }
    .align-center{
        text-align: center;
    }
    .align-justify{
        text-align: justify;
    }
/* #endregion Text Aligns */

/* #region Borders */
    .border{
        border: 1px solid;
    }
    .border-2{
        border: 2px solid;
    }
    .border-circled{
        border-radius: 50%;
    }
    .border-rounded{
        border-radius: 4px;
    }
    .border-b{
        border-bottom: 1px solid;
    }
    .border-gray{
        border-color: #DFDFDF;
    }
    .border-purple{
        border-color: #974EBC;
    }
    .border-darker{
        border-color: var(--darker);
    }
    .border-blue-dark{
        border-color: #13213a;
    }
/* #endregion Borders */

/* #region Transform */
    .uppercase{
        text-transform: uppercase;
    }
    .lowercase{
        text-transform: lowercase;
    }
    .capitalize{
        text-transform: capitalize;
    }
/* #endregion Transform */

/* #region Font Style */
    .italic{
        font-style: italic;
    }
/* #endregion Font Style */

/* #region Opacity */
    .opacity-0{
        opacity: 0;
    }
    .opacity-1{
        opacity: 1;
    }
    .opacity-2{
        opacity: 0.2;
    }
    .opacity-3{
        opacity: 0.3;
    }
    .opacity-4{
        opacity: 0.4;
    }
    .opacity-5{
        opacity: 0.5;
    }
    .opacity-6{
        opacity: 0.6;
    }
    .opacity-7{
        opacity: 0.7;
    }
    .opacity-8{
        opacity: 0.8;
    }
    .opacity-9{
        opacity: 0.9;
    }
/* #endregion Opacity */

/* #region Text Decorations */
    .underline{
        text-decoration: underline;
    }
    .no-decoration{
        text-decoration: none;
    }
/* #endregion Text Decorations */

/* #region Shadow */
    .shadow{
        box-shadow: 0 0 6px var(--gray);
    }
/* #endregion Shadow */

/* #region Cursors */

    .c-pointer{
        cursor: pointer;
    }
    .c-text{
        cursor: text;
    }
    .c-default{
        cursor: default;
    }
    .c-move{
        cursor: move;
    }
/* #endregion Cursors */

/* #region Box-sizing */
    .box-sizing-initial{
        box-sizing: initial;
    }
    .box-sizing-border{
        box-sizing: border-box;
    }
/* #endregion Box-sizing */

/* #region Overflow */
    .overflow-hidden{
        overflow: hidden;
    }
    .overflow-scroll{
        overflow: scroll;
    }
    .overflow-visible{
        overflow: visible;
    }
/* #endregion Overflow */

/* #region Truncate */
    .truncate {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
/* #endregion Truncate */

/* #region Table  */
    .table tbody tr:nth-child(odd){
        background: #0b172b
    }
    .table .track-name span{
        transition: all .2s ease;
    }
    .table tr td.like{
        width: 40px;
    }
/* #endregion Table  */

/* #region Overlay */
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .overlay--full:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #020c1fad;
    }
    .overlay--top:after{
        content: "";
        position: absolute;
        width: 100%;
        z-index: 0;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgb(2,12,31);
        background: linear-gradient(rgba(5,16,35,1), transparent);
    }
    .overlay-bottom{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .overlay-bottom:after{
        content: "";
        position: absolute;
        width: 100%;
        z-index: 0;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgb(2,12,31);
        background: linear-gradient(0deg, rgba(5,16,35,1) 5%, rgba(2,12,31,0) 100%);
    }
/* #endregion Overlay */

/* #region Modals */
    .modal-container{
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease-in-out;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 999;
        color: var(--darker);
    }
    .modal-container.active{
        opacity: 1;
        visibility: visible;
    }
    .modal-container .modal-content{
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;
        left: 50%;
        margin: auto;
        transform: translate(-50%, -50%);
        transition: all 0.4s ease-in-out;
    }
    .modal-container.active .modal-content{
        top: 50%;
    }
/* #endregion Modals */

/* #region Form */
    .input,
    .textarea{
        border-radius: 4px;
        border: 1px solid var(--gray);
        background: white;
        padding: 10px;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
        resize: none;
    }
    .input--search{
        background-image: url("../../assets/images/icons/search_gray.svg");
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 18px;
        padding-left: 40px;
    }
    .input--bg-blue-gray{
        background-color: #d7deea;
        border-color: #c9d1de;
    }
    .input--bg-dark{
        background-color: var(--dark);
        border-color: var(--dark);
        color: white;
    }
    .input--bg-darker{
        background-color: var(--darker);
        border-color: var(--darker);
        color: white;
    }
    .input--bg-blue-dark{
        background-color: var(--blue-dark);
        border-color: var(--blue-dark);
        color: white;
    }
    .button{
        border-radius: 4px;
        background: transparent;
        border: 1px solid var(--green_neon);
        color: var(--green_neon);
        padding: 8px 20px;
        font-size: 12px;
        font-weight: 500;
        min-width: 60px;
        cursor: pointer;
    }
    .button--red{
        background: var(--red);
        border: 1px solid var(--red);
        color: white;
    }
    .button--solid{
        background: var(--green_neon);
        color: var(--darker);
        font-weight: 600;
    }
    .button--solid-blue{
        background: var(--blue);
        color: white;
        font-weight: 600;
        border: 1px solid var(--blue);
    }
    .button--solid-red{
        background: var(--red);
        color: white;
        font-weight: 600;
        border: 1px solid var(--red);
    }
    .button--border-red{
        border-color: var(--red)
    }
    .button--semi-circled{
        min-width: initial;
        border-radius: 35%;
        padding: 0;
    }
    .button--circled{
        min-width: initial;
        border-radius: 50%;
        padding: 0;
    }
    .button--liked{
        border-color: var(--red);
    }
    .close{
        background: url("../images/icons/close_dark.svg") no-repeat center / 10px;
        cursor: pointer;
    }
/* #endregion Form */