.player-container{
    border-top: 2px solid #0a1c38;
}
.player-container .player .controls .shuffle{
    background: url("../../assets/images/player/shuffle_white_3.svg") no-repeat center / 15px;
}
.player-container .player .controls .prev{
    background: url("../../assets/images/player/prev_white.svg") no-repeat center / 18px;
}
.player-container .player .controls .next{
    background: url("../../assets/images/player/prev_white.svg") no-repeat center / 18px;
    transform: rotate(180deg);
}
.player-container .player .controls .playing .play{
    background: url("../../assets/images/player/play_white_2.svg") no-repeat center / 39px;
}
.player-container .player .controls .playing .pause{
    background: url("../../assets/images/player/pause_white_2.svg") no-repeat center / 37px;
}
.player-container .player .controls .repeat{
    background: url("../../assets/images/player/repeat_white_2.svg") no-repeat center / 15px;
}
.player-container .volume .speaker{
    background: url("../../assets/images/player/volume_mid_white.svg") no-repeat center / 20px;
}
.player-container .volume .speaker.lows{
    background: url("../../assets/images/player/volume_low_white.svg") no-repeat 0 center / 20px;
}
.player-container .volume .speaker.mute{
    background: url("../../assets/images/player/volume_mute_white.svg") no-repeat 0 center / 20px;
}
.player-container .repeat span{
    top: 10px;
}
.player-container .repeat .repeat_one{
    right: 7px;
}

.new-playlist{
    right: 40px;
    top: -60px;
    background-image: url("../../assets/images/icons/add_dark_2.svg");
    background-repeat: no-repeat;
    background-position: 20px 11px;
    background-size: 13px;
    box-shadow: 0 0 12px #11ffb9;
    transition: all .2s ease-in-out;
}
.new-playlist:hover{
    box-shadow: none;
}

input[type=range].slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 0px 0;
  }
  input[type=range].slider:focus {
    outline: none;
  }
  input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #213450;
    border-radius: 4px;
  }
  input[type=range].slider::-webkit-slider-thumb {
    height: 10px;
    width: 10px;
    background: #12ffb9;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
    position: relative;
    top: -2px;
  }
  input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 32px;
    cursor: pointer;
  }
  input[type=range].slider::-moz-range-thumb {
    height: 10px;
    width: 10px;
    background: #12ffb9;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    top: -2px;
  }
  input[type=range].slider::-ms-track {
    width: 100%;
    height: 32px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range].slider::-ms-thumb {
    height: 10px;
    width: 10px;
    background: #12ffb9;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    top: -2px;
  }
  