@import url("assets/css/normalize.css");
@import url("assets/css/_layout.css");

body {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #051023;
	color: white;
}

*{
	box-sizing: border-box;
	box-sizing: initial;
}

a{
	text-decoration: none;
	color: white;
}

.app-container{
	width: calc(100% - 320px);
	left: 240px;
}

/* #region TopBar */
	.top-bar{
		width: calc(100% - 320px);
	}
	.top-bar .nav-buttons-container .nav-button{
		background: url("assets/images/icons/arrow_white.svg") no-repeat 0 center / 15px;
	}
	.top-bar .nav-buttons-container .nav-button.nav-button--next{
		transform: rotate(180deg);
	}
/* #endregion TopBar */

/* Nav Header */
	.nav-page-header .nav-item .nav-item-line{
		width: 0;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
	}

	.nav-page-header .nav-item.active .nav-item-line{
		width: 20px;
	}
/* .Nav Header */

/* #region Global */
	.logo{
		background: url("assets/images/logos/logo_green_neon.svg") no-repeat center / 100%;
	}
	.like-icon{
		background: url("assets/images/icons/like_white.svg") no-repeat center / 15px;
	}
	.like-icon--green-neon{
		background: url("assets/images/icons/like_green_neon.svg") no-repeat center / 15px;
	}
	.like-icon.active{
		background: url("assets/images/icons/like_red.svg") no-repeat center / 15px;
	}
	.more-icon{
		background: url("assets/images/icons/more_white.svg") no-repeat center / 15px;
	}
	.more-icon--green-neon{
		background: url("assets/images/icons/more_green_neon.svg") no-repeat center / 15px;
	}
	.edit-icon{
		background: url("assets/images/icons/edit_white.svg") no-repeat center / 15px;
	}
	.edit-icon--green-neon{
		background: url("assets/images/icons/edit_green_neon.svg") no-repeat center / 15px;
	}
	.remove-icon{
		background: url("assets/images/icons/remove_white.svg") no-repeat center / 15px;
	}
	.remove-icon--green-neon{
		background: url("assets/images/icons/remove_red.svg") no-repeat center / 12px;
	}
/* #endregion Globals */

/* MenuBar */
	.menu-bar .browse{
		background: url("assets/images/icons/browse_green_neon.svg") no-repeat 0 center / 18px;
	}
	.menu-bar .radio{
		background: url("assets/images/icons/radio_green_neon.svg") no-repeat 0 center / 20px;
	}
/* .MenuBar */

/* Search Box */
	.search-results-box{
		width: 300px;
		position: absolute;
		display: none;
	}
	.search-results-box.active{
		display: block;
	}

	/* Header */
		.search-results-box .tabs-header .tab{
			background: #f5f4f4;
			color: #8b8f96;
		}
		.search-results-box .tabs-header .tab:hover{
			background: #fbf9f9;
		}
		.search-results-box .tabs-header .tab.active{
			background: white;
			color: var(--dark);
			border-bottom: 1px solid #f5f4f4;
		}
		.search-results-box .artists-tab-header{
			border-radius: 4px 0 0;
		}
		.search-results-box .tracks-tab-header{
			border-radius: 0;
		}
		.search-results-box .albums-tab-header{
			border-radius: 0 4px 0 0;
		}
	/* .Header */
	
	/* Body */
		.search-results-box .tabs-body{
			border-radius: 0 0 2px 2px;
		}
		.search-results-box .item-result:hover{
			background: #f5f5f5;
		}
		/* .search-results-box .tab-body-block{
			display: none;
		}
		.search-results-box .tab-body-block.active{
			display: block;
		} */
	/* .Body */
/* .Search Box */

/* Playlist */
	.playlist-tracks .track-play img{
		opacity: 0;
		visibility: hidden;
	}
	.playlist-tracks .track-play .play-icon{
		display: block;
	}
	.playlist-tracks .track-play .pause-icon{
		display: none;
	}
	.playlist-tracks .track-row.active *{
		color: #12ffb9;
	}
	.playlist-tracks .track-row.active .track-play img{
		opacity: 1;
		visibility: visible;
	}
	.playlist-tracks .track-row.active .track-play .pause-icon{
		display: block;
	}
	.playlist-tracks .track-row.active .track-play .play-icon{
		display: none;
	}

	.playlist-tracks .track-actions div img{
		opacity: 0.8;
	}
	.playlist-tracks .track-actions div:hover img{
		opacity: 1;
	}

	.playlist-tracks .track-row.no-preview-url *{
		color: #3f4b61;
	}
	.playlist-tracks .track-row.no-preview-url .track-actions{
		opacity: 0.3;
	}

	.send-to-playlist{
		top: 20px;
		display: none;
	}
	.send-to-playlist[data-active="active"]{
		display: block;
	}
	.send-to-playlist div{
		color: #051023 !important;
	}
	.send-to-playlist div:hover{
		background: #f6f6f6;
	}

	.playlist-tracks .track-row:hover .track-play img{
		opacity: 1;
		visibility: visible;
	}
/* .Playlist */